body {
  margin: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
}

.search-form-wrapper {
  width: 80%;
  display: flex;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.search-form__query {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

.search-form__query:hover {
  outline: none;
}

.search-form__query:focus {
  outline: none;
}

.search-form__location_and_fulltime {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__location {
  width: 200px;
  border: none;
  border-bottom: 2px solid black;
}

.search-form__location:hover {
  outline: none;
}

.search-form__location:focus {
  outline: none;
}
.add__button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: rgb(38, 38, 131);
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

.add__button:focus {
  outline: none;
}

.search__button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #cc1443;
  color: white;
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}

.article-list__wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.search__status {
  font-size: 18px;
  font-weight: bold;

}

.vacancy-wrapper {
  background-color: #f4f5f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.vacancy__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy__title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 15px;
}

.vacancy__title {
  margin: 0;
}

.second-title {
  margin: 0;
}

.vacancy__title a {
  color: black;
  font-size: 20px;;
}

.buttons-wrapper {
  width: 80px;
  display: flex;
}

.vacancy__company_wrapper {
  display: flex;
  align-items: center;
  
}

.vacancy__company_name {
  font-size: 16px;
  cursor: pointer;
}

.tag {
  margin-left: 10px;
}

.vacancy__favourites {
  cursor: pointer;
  width: 120px;
  height: 25px;
  padding: 5px 10px 5px 10px;
  background-color: #2e31c7;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.disable__button {
  background-color: #7979b1b2;
  cursor: default;
}

.vacancy__favourites:focus {
  outline: none;
}

.vacancy__description {
  display: block;
  margin-bottom: 5px;
}

.description-text__hidden {
  overflow: hidden;
  height: 90px;
}

.description__button_hidden {
  margin: 0px;
  cursor: pointer;
  color: blue;
  background-color: #f4f5f9;
  border: none;

}

.description__button_hidden:focus {
  outline: none;
}


.favourites-item__button_del {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f9;
  padding: 5px;
  border: none;
}

.form-article__button_cancel {
  border: none;
  background-color: white;
  cursor: pointer;
}

.form-article__button_cancel:focus {
  outline: none;
}


.favourites-item__button_del:focus {
  outline: none;
}

.favourites-item__button_img_del {
  margin-left: 5px;
  width: 20px;
  cursor: pointer;
}

.loader {
  position: fixed;
  left: 40%;
  top: 20%;
  align-items: center;
}


/* Paginator */
.pagination-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.pagination {
  display: flex;
  margin: auto;
  text-align: middle;
  justify-content: center;
}

.pagination-link {
  min-width: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination-link:focus {
  outline: none;
}

.pagination-pages {
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
  color: white;
  background-color: #3f51b5;
  border-radius: 5px;
  min-width: 30px;
  
}

.pagination-pages:hover {
  cursor: pointer;
  color: #cc1443;
}

.active {
  cursor: pointer;
  color: #cc1443;
  border: 1px solid #cc1443;
}

.modal__wrapper {
  position: absolute;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.form-article__wrapper{
  background-color: white;
  border: '2px solid #000';
  padding: 20px 50px 20px;
}

.form-article__input{
  width: 100%;
  border: solid 2px blue;
  border-radius: 5px;
}

.article-form__button_wrapper {
  margin-top: 20px;
  width: 100%;
  text-align: end;
}

.form-article__wrapper > form > textarea {
  resize: none;
}

.classifire-form-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.classifire-form-wrapper > form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.classifire-form-wrapper > form > textarea {
  resize: none;
}

.classifire-form__result {
  font-size: 20px;
}

.modal-error {
  width: 500px;
}

.modal-error__wrapper {
  background-color: white;
  border: 2px solid #000;
  padding: 5px 5px 15px 5px;
  border-radius: 10px;
}

.error-form__payload {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error-form__code {
  font-size: 35px;
  font-weight: bold;
  color: red;
  margin-right: 15px;
}

.error-form__text {
  font-size: 21px;
  font-weight: 400;
}

.error-form__button_close {
  margin-top: 0px;
}